
/* style.css */
body {
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 80%;
    margin: auto;
}

.productos, .carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.producto, .item-del-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #288ea7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #282188;
}

#buscar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.notificacion {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
